@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

/* landing-page  */

.main-section {
    max-width: 81%;
    margin-left: 19%;
}

.landing-page {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvdmVyJTIwcGhvdG8lMjBmb3IlMjBwb3J0Zm9saW98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;

}

.header {
    width: 19%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #111418;
    color: #FFFFFF;
    top: 0;
    position: fixed;
    overflow: hidden;
    left: 0;
}

.header .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .profile h3{
    margin-top: 10%;
    cursor: pointer;
}

.header .profile img {
    width: 100%;
    height: 150px;
    border: 8px solid #343A40;
    border-radius: 50%;
    margin-top: 30%;
    cursor: pointer;
}

.profile-cols ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.profile-cols ul li {
    margin-bottom: 30%;
    font-size: 20px;
    color: #e0dcdc;
}

.profile-cols .active, .profile-cols ul li:hover {
    color: #16BB97;
}

.header .socialmedia {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.header .socialmedia .fa-brands {
    color: #cfcdcd;
    margin-right: 20px;
}
.header .socialmedia .fa-brands:hover {
    color: #0413e6;
} 

.landing-page .front-section{
    display: inline-block;
    flex-direction: column;
    color: #e0dcdc;
    text-align: center;
    margin: auto;
}
.front-section h1 {
    font-size: 50px;
    margin-top: 5%;
}
.front-section h3,p {
    font-size: 25px;
    margin-top: 5%;
}

.front-section button {
    margin-top: 5%;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    color: #16BB97;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 2px solid #16BB97;
}

.front-section button:hover {
    background: #16BB97;
    color: #e0dcdc;
    transition: 0.5s;
}

/* contact  */
.contact-us {
    min-height: 100vh;
    background-color: #f1f3f5;
    position: relative;
}

.contact-us h1 {
    text-align: center;
    color: #e5eaec;
    font-size: 6rem;
    font-weight: bold;
    z-index: -1;
    text-transform: uppercase;
    padding-top: 3%;
    letter-spacing: 0.5rem;
}

.contact-us h2 {
    text-align: center;
    margin-top: -99px;
    font-size: 35px;
}
.contact-us h2::after {
    content: "";
    background: #0db691;
    width: 65px;
    height: 3px;
    position: absolute;
    left: 47%;
    top: 19%;

}

.contact-main{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.address h3, .message h3{
    font-size: 30px;
    text-transform: uppercase;
}
.address pre {
    margin-left: -70px;
    font-size: 16px;
}

.icons-address .fa-phone, .fa-envelope{
    font-size: 20px;
    color: #0db691;
    margin-right: 5px;
}

.icons-address p {
    font-size: 20px;
}

.contact-main .message {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.message .name-email input {
    width: 40%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid black;
    text-indent: 10px;
    font-size: 20px;
}

.name-email .input-email {
    margin-left: 28px;
}

.contact-us h3{
    font-size: 25px;
}

.message h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.message textarea {
    width: 85%;
    border-radius: 5px;
    height: 150px;
    margin-bottom: 30px;
    border: 1px solid black;
    text-indent: 10px;
    line-height: 45px;
    font-size: 20px;
}

.message button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    margin-left: 30%;
    background: #0db691;
    color: #e0dcdc;
    border: none;
}
.message button:hover {
    background: #128a66;
}

.follow {
    margin-top: 20px;
}
.follow .socialmedia {
    font-size: 18px;
}

.follow .socialmedia .fa-brands {
    margin-left: 15px;
    margin-top: 10px;
    color: #343A40;
}
.follow .socialmedia .fa-brands:hover{
    color: #0db691;
}

/* about me */

.about {
    min-height: 85vh;
    background-color: #fff;
    position: relative;
    width: 88%;
    margin-left: 5%;
}

.about h1 {
    text-align: center;
    color: #EEF0F1;
    font-size: 6rem;
    font-weight: bold;
    z-index: -1;
    text-transform: uppercase;
    padding-top: 3%;
    letter-spacing: 0.5rem;
}

.about h2 {
    text-align: center;
    margin-top: -99px;
    font-size: 35px;
}
.about h2::after {
    content: "";
    background: #0db691;
    width: 73px;
    height: 3px;
    position: absolute;
    left: 47%;
    top: 21%;
}

.about-main {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.about-main .my-info {
    width: 60%;
}
.my-info p {
    font-size: 20px;
} 
.my-info h3 span {
    color: #0db691;
}
.about .my-details {
    width: 25%;
    margin-top: 10px;
}

.my-details button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #16BB97;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}
.my-details button:hover{
    background-color: #128a66;
}
.my-details .email {
    cursor: pointer;
    color: #16BB97;
}
.my-details .email:hover{
    color: #128a66;
}

.my-details .name{
    display: flex;
    margin-bottom: 10px;
}

.name h4{
    margin-top: 10px;
}
.name span {
    margin-top: 10px;
    margin-left: 5px;
}

/* portfolio section */


.portfolio {
    background-color: #fff;
    position: relative;
}
.portfolio h1 {
    text-align: center;
    color: #EEF0F1;
    font-size: 6rem;
    font-weight: bold;
    z-index: -1;
    text-transform: uppercase;
    padding-top: 3%;
    letter-spacing: 0.5rem;
}

.portfolio h2 {
    text-align: center;
    margin-top: -99px;
    font-size: 35px;
}
.portfolio h2::after {
    content: "";
    background: #0db691;
    width: 60px;
    height: 3px;
    position: absolute;
    left: 46%;
    top: 128px;
}

.my-work {
    width: 88%;
}

.projects {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 1% auto;
    margin-left: 10%;
}

.card {
    width: 28%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(48, 46, 46);
    color: #cfcdcd;
    border-radius: 15px;
    box-shadow: 10px 5px 15px rgb(201, 199, 199);
    transition: 0.5s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.card .card-details {
    display: flex;
    flex-wrap: wrap;
}

.card .card-details h3{
    font-size: 20px;
    font-weight: bold;
}
.card .card-details p{
    font-size: 18px;
    margin-top: 2px;
}

.card .card-details .link{
    color: rgb(15, 230, 87);
}

.card .card-details i {
    font-size: 20px;
    margin-left: 5px;
    color: #d6d6d6;
    cursor: pointer;
}
.card .card-details i:hover{
    color: #128a66;
}

/* resume */
.summary {
    background-color: #f1f3f5;
    position: relative;
}
.summary h1 {
    text-align: center;
    color: #dadcdd;
    font-size: 6rem;
    font-weight: bold;
    z-index: -1;
    text-transform: uppercase;
    padding-top: 3%;
    letter-spacing: 0.5rem;
}

.summary h2 {
    text-align: center;
    margin-top: -99px;
    font-size: 35px;
}
.summary h2::after {
    content: "";
    background: #0db691;
    width: 73px;
    height: 3px;
    position: absolute;
    left: 47%;
    top: 130px;
}

.summary-edu {
    width: 88%;
}



.summary .education {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 10%;
}
.summary h3 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 110px;
    margin-left: 80px;
}



.edu-section {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    border: 1px solid rgb(194, 189, 189);
    /* margin-top: -50px; */
    width: 46%;
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 3%;
}
.edu-section span {
    border: 1px solid blue;
    border: none;
    background-color: #16BB97;
    text-align: center;
    width: 130px;
    margin-top: 30px;
    margin-left: 25px;
    font-size: 18px;
    border-radius: 9px;
    color: #fff;
}
.edu-section h3{
    margin-left: 0px ;
    margin-top: 0px;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.edu-section h4 {
    margin-left: 25px;
    color: rgb(245, 6, 6);
}
.edu-section p{
    margin-left: 25px;
    font-size: 18px;
    margin-top: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.skills {
    margin-top: -70px;
}
.knowledge {
    width: 88%;
    margin-left: 80px;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bar {
    width: 48%;
    margin-bottom: 20px;
}
.bar h4{
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 10px;
}

.bar hr {
    width: 80%;
    height: 10px;
    background-color: #0a9655;
    border-radius: 20px;
}