@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

/* landing-page  */

.main-section {
    max-width: 81%;
    margin-left: 19%;
}

.landing-page {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvdmVyJTIwcGhvdG8lMjBmb3IlMjBwb3J0Zm9saW98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;

}

.header {
    width: 19%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #111418;
    color: #FFFFFF;
    top: 0;
    position: fixed;
    overflow: hidden;
    left: 0;
}

.header .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .profile h3{
    margin-top: 10%;
    cursor: pointer;
}

.header .profile img {
    width: 100%;
    height: 150px;
    border: 8px solid #343A40;
    border-radius: 50%;
    margin-top: 30%;
    cursor: pointer;
}

.profile-cols ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.profile-cols ul li {
    margin-bottom: 30%;
    font-size: 20px;
    color: #e0dcdc;
}

.profile-cols .active, .profile-cols ul li:hover {
    color: #16BB97;
}

.header .socialmedia {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.header .socialmedia .fa-brands {
    color: #cfcdcd;
    margin-right: 20px;
}
.header .socialmedia .fa-brands:hover {
    color: #0413e6;
} 

.landing-page .front-section{
    display: inline-block;
    flex-direction: column;
    color: #e0dcdc;
    text-align: center;
    margin: auto;
}
.front-section h1 {
    font-size: 50px;
    margin-top: 5%;
}
.front-section h3,p {
    font-size: 25px;
    margin-top: 5%;
}

.front-section button {
    margin-top: 5%;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    color: #16BB97;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 2px solid #16BB97;
}

.front-section button:hover {
    background: #16BB97;
    color: #e0dcdc;
    transition: 0.5s;
}

/* contact  */
.contact-us {
    min-height: 100vh;
    background-color: #f1f3f5;
    position: relative;
}

.contact-us h1 {
    text-align: center;
    color: #e5eaec;
    font-size: 6rem;
    font-weight: bold;
    z-index: -1;
    text-transform: uppercase;
    padding-top: 3%;
    letter-spacing: 0.5rem;
}

.contact-us h2 {
    text-align: center;
    margin-top: -99px;
    font-size: 35px;
}
.contact-us h2::after {
    content: "";
    background: #0db691;
    width: 65px;
    height: 3px;
    position: absolute;
    left: 47%;
    top: 19%;

}

.contact-main{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.address h3, .message h3{
    font-size: 30px;
    text-transform: uppercase;
}
.address pre {
    margin-left: -70px;
    font-size: 16px;
}

.icons-address .fa-phone, .fa-envelope{
    font-size: 20px;
    color: #0db691;
    margin-right: 5px;
}

.icons-address p {
    font-size: 20px;
}

.contact-main .message {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.message .name-email input {
    width: 40%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid black;
    text-indent: 10px;
    font-size: 20px;
}

.name-email .input-email {
    margin-left: 28px;
}

.contact-us h3{
    font-size: 25px;
}

.message h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.message textarea {
    width: 85%;
    border-radius: 5px;
    height: 150px;
    margin-bottom: 30px;
    border: 1px solid black;
    text-indent: 10px;
    line-height: 45px;
    font-size: 20px;
}

.message button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    margin-left: 30%;
    background: #0db691;
    color: #e0dcdc;
    border: none;
}
.message button:hover {
    background: #128a66;
}

.follow {
    margin-top: 20px;
}
.follow .socialmedia {
    font-size: 18px;
}

.follow .socialmedia .fa-brands {
    margin-left: 15px;
    margin-top: 10px;
    color: #343A40;
}
.follow .socialmedia .fa-brands:hover{
    color: #0db691;
}

/* about me */

.about {
    min-height: 85vh;
    background-color: #fff;
    position: relative;
    width: 88%;
    margin-left: 5%;
}

.about h1 {
    text-align: center;
    color: #EEF0F1;
    font-size: 6rem;
    font-weight: bold;
    z-index: -1;
    text-transform: uppercase;
    padding-top: 3%;
    letter-spacing: 0.5rem;
}

.about h2 {
    text-align: center;
    margin-top: -99px;
    font-size: 35px;
}
.about h2::after {
    content: "";
    background: #0db691;
    width: 73px;
    height: 3px;
    position: absolute;
    left: 47%;
    top: 21%;
}

.about-main {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.about-main .my-info {
    width: 60%;
}
.my-info p {
    font-size: 20px;
} 
.my-info h3 span {
    color: #0db691;
}
.about .my-details {
    width: 25%;
    margin-top: 10px;
}

.my-details button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #16BB97;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}
.my-details button:hover{
    background-color: #128a66;
}
.my-details .email {
    cursor: pointer;
    color: #16BB97;
}
.my-details .email:hover{
    color: #128a66;
}

.my-details .name{
    display: flex;
    margin-bottom: 10px;
}

.name h4{
    margin-top: 10px;
}
.name span {
    margin-top: 10px;
    margin-left: 5px;
}